<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <title>
         發生錯誤!
      </title>   
   </head>
   <body>
       <h2>請登入再查看你是否被Ban.</h2>
        <br>
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>
