<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <title>
         發生錯誤!
      </title>   
   </head>
   <body>
       <h2>找不到伺服器?</h2>
       <h5>請檢查以下步驟是否有出錯</h5>
       1.伺服器裡沒有智乃小幫手機器人<br>
       2.沒有事先設定 (請用 cr!setup)<br>
       3.你沒有管理者權限無法操作<br>
       <br>以上如果都確認過但還是沒有請找 苦力怕怕#8558 回報問題.
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>