<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
      <title>
         發生錯誤!
      </title>   
   </head>
   <body>
       <h2><%= user %></h2>
       原因:<br>
       <%= why %>
        <br>
        <br>
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>
