<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <style type="/css/main.css"></style>
        <title>跳轉中...</title>
        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">
    </head>
    <body>
        網頁跳轉中
        <br>
        請稍後
        <br>
        若沒有跳轉請點 
        <a href="/login/signin">這裡</a>
        <br>
    </body>
</html>
<script>
    setTimeout(window.location.href='/login/signin', 3000);
</script>