<html>
   <head>
    <link rel="stylesheet" href="/css/main.css">
    <style type="/css/main.css"></style>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
      <title>
         已登出!
      </title>   
   </head>
   <script src="/js/getcookie.js">
   </script>
   <script>
       clearAllCookie()
       setTimeout(() => {
         window.location.href="/cmd/logout";
       }, 100);
   </script>
   <body>
      <br>
      <br>
     正在跳轉至指令區做登出的動作....
        <br>
      <a href="/cmd/logout">沒跳轉嗎?點我</a>
      <br>
   </body>
</html>
