<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <title>
         發生錯誤!
      </title>   
   </head>
   <body>
     登入發生錯誤!
     <br>
     也許是你沒登入就直接連這網址造成的
        <br>
        或是discord登入失敗:(
        <br>
      <a href="/login/discord/">重新登入</a>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>