<html>
   <link rel="stylesheet" href="/css/main.css">
   <style type="/css/main.css"></style>
   <link rel="stylesheet" href="/css/userinfo.css">
   <style type="/css/userinfo.css"></style>
   <head>
      <title>
         智乃小幫手官方網站
      </title>
   </head>
   <script src="/js/getinfo.js"></script>
   <script src="/js/login.js"></script>
   <script>
      $(document).ready(function() {
        $('#languageset').submit(function(e){
        e.preventDefault();var form = $(this);
        let d = form.serialize().replace("lang=","")
        $.ajax({url:'/api/language/set',type: "POST",contentType: 'application/json',data: JSON.stringify({"lang": d}), 
        cache: false,
        processData: false,
        success : function(data) {
            document.getElementById('langset').innerHTML = data.message
            setTimeout(() => {
                window.location.href= document.URL
            }, 2000);
        },error: function(data) 
        {console.log('無法送出');
        }})});});
   </script>
       <body>
         <p id="guildmenu">◀</p>
         <div class="servers">
            <ul><p id="myself"></p></ul>
            <ul><p id="guilds"></p></ul>
         </div>
         <p id="hi">資料讀取.... 請等幾秒!</p><br>
         <font size="5">想試試看<u>線上</u>智乃小幫手的指令嗎? <a href="/cmd">點我!</a></font>
         <br>---詳細資料請在discord打ui指令!---

         <div class="datas">     
         <p id="level" style="background-color:rgba(55, 41, 41, 0.645);"></p>
         <p id="money"></p>
         <p id="work"></p>
         <p id="piture"></p>
         <p id="piture2"></p>
         <p id="host"></p><p id="pet"></p>
         <p id="worktime"></p>
      </div> 
        <br>
        <form id="languageset" method='post'>
         <select name="lang" id="language">
             <option value="null">語言設置</option>
             <option value="zh_TW">🇹🇼繁体字</option>
             <option value="en_US">🇺🇸英語</option>
             <option value="ja_JP">🇯🇵日本語</option>
         </select>
         <button type='submit' style="height: 40px; width: 50px;">確認</button>
         <text id="langset" style="color: crimson;"></text>
         </form>
      </body>
</html>
