<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/about.css">
      <title>
         智乃是誰
      </title>   
      <script>
         (async() => {
        var myVid=document.getElementById("chinos");
        myVid.volume=0.5;
         })()
      </script>
   </head>
   <body>
      <br>
     智乃是誰?  (文章來自於 <a href="https://zh.moegirl.org.cn/香风智乃">萌娘百科</a>)
     <br>
     <h3>簡介</h3><br>
     初登場時是一名13歲的初中生，是保登心愛所寄宿的咖啡店Rabbit House原店主的孫女，在白天作為看板娘經營店鋪。此外，與初中同班同學條河麻耶和奈津惠組成“智麻惠隊”好友組合。<br>
     代表色是藍色。智乃的名字源自於卡布奇諾（Cappuccino → カプチーノ → カフウ・チノ → 香風智乃）。<br>
     <br>
     <s>今其智乃反不能及——《師說》</s>
     <br>
     <h3>性格</h3>
     <br>
     無口系，不擅長與他人交談。加之身邊的人一度只有客人和大人，所以對於交際感到苦手，對誰都一直用著敬語。<br>
     曾經自稱如果麻耶和惠不主動找她，她們是不會成為朋友的。<br>
     羨慕能夠輕鬆與他人自來熟的心愛。<br>
     戴上頭套遮住臉後會變得可以更加積極地攬客。<br>
     隨著故事的發展性格逐漸向開朗的方向發展，也會開一些玩笑，被劇中人物吐槽“越來越像心愛”。<br>
     自立性非常強，習慣於一個人做事情，被叫做小孩子、小學生時會感到不適。<br>
     很少會笑，也曾因在鏡頭前笑容不自然而苦惱，但是笑起來非常可愛。<br>
     平常面對心愛的熱情，反應頗為冷淡，但是有時也會因為被冷落而感到寂寞，不過一開始沒有意識到這是吃醋的表現。<br>
     多次在心愛不在時心不在焉地泡了很多熱可可（日語與心愛的名字同音），被理世吐槽為對心愛的思念症。<br>
     曾抱怨心愛“明明在我生氣的時候什麼都沒發覺，千夜桑的行為變得奇怪的的時候卻能注意到呢”。<br>
        <br>
        <h3>體質</h3>
        雖然年紀小，但十分在意自己的身高和身材，會想各種方法增高、減肥，以及促進發育。<br>
        曾放出豪言：“等到我長到心愛這個年齡的話一定會比心愛高的！”<br>
        於Rabbit House Tea Party 2014上表態：“最起碼（胸部）要比心愛桑大……”<br>
        對惠和自己差不多高、麻耶比自己還矮感到安心，但是對惠日益見長的胸部非常介意。<br>
        在故事初期，不知為何是動物不愛親近的體質。<s>(獸控版心愛)</s><br>
        會被鎮子上的野兔們遠遠地避開，因此在初見豆餡和Wild Geese時，因為不被排斥而感到開心。<br>
        釣魚也釣不上來，需要心愛的<s>光環</s>幫助。<br>
        動畫第三季第6話（漫畫70話）中，第一次得到了野兔的親近。<s>心愛化程度持續增長中。</s><br>
        酒量很差，即使是酒心巧克力也一碰就醉（半斤八兩×2）。醉酒變純情，會變得非常黏姐姐。醒來之後還保留著醉酒時的記憶。<br>
        唱歌很好聽，但是有些不敢開口。<br>
        提比說話被別人聽到時，會以腹語術為藉口掩飾提比會說話的真相。不過自己也會真正的腹語術。<br>
        必須要頂著什麼才能發揮全部的工作能力。去甘兔庵串門、社會實踐打工時若沒有提比則會頂著豆餡。<br>
      <s>甚至頭上的兔子還會影響性格。頂著野雁時會變成叼著草的不良少女，換成豆餡又會變得呆呆的。</s><br>
      <h3>興趣愛好</h3>
      在咖啡方面的知識非常淵博，也願意主動學習。畢業旅行時專程拜訪各種各樣的咖啡廳。<br>
      擅長料理，平常在家會一個人做飯。<br>
      休息的日子喜歡在家裡悠閒地度過，愛好是拼圖、瓶中船、解智力環等，不用出門也可以做的細活。不過除非有不搭理心愛的劇情需要，否則不會一口氣弄完，而是享受著每天做一點的樂趣。<br>
      靈魂畫師，畢卡索的傳人，不管是咖啡拉花還是畫寫生，最後都會變成抽象畫。<br>
      擅長下西洋棋，有時會與提比對戰。在與同齡人的交手中很少落敗。<br>
      <br>
      <a href="/main">點我回到首頁</a><br><br>
      <div class="audio" style="transform: translate(0px, 0px);"><audio id="chinos" src="/music/chino" controls volume="60"></audio></div>
   </body>
</html>