<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
      <title>
         發生錯誤!
      </title>   
   </head>
   <body>
     你可能進到一個神奇的空間
     <br>
     但這空間失效了:(
        <br>
      <a href="/">點我回到首頁</a>
      <br>
   </body>
</html>
