<!DOCTYPE html>
<html lang="zh_tw">
<head>
    <meta property="og:title" content="智乃小幫手官方網站" >
    <meta property="og:url" content="http://dckabicord.com/main">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/747997625973997648/827195506345902140/chino.png">
    <meta property="og:description" content="網頁版智乃小幫手上線中!" >
    <link rel="stylesheet" href="/css/layout.css">
    <style type="/css/layout.css"></style>
    <meta charset="UTF-8">
    <title>智乃小幫手官方網站</title>
    <meta name="google-site-verification" content="jkgVzW4BZaGTkloRqX6zbGLmN0_po30S1zmyibbYKHA" />
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="/js/getcookie.js"></script>
    <script src="/js/layout.js"></script>
    <script>$(document).ready(function(){$("#Ntop").hide()})</script>
</head>
    <body>
    <b>
    <font size="6%">
    <div id="Ntop">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/main" style="color: mediumspringgreen;">Home</a>|<a href="/about/chino" style="color: mediumspringgreen;">認識智乃</a>|<a href="/info" style="color: mediumspringgreen;">機器人資訊</a><br><a href="/about/me" style="color: mediumspringgreen;">關於</a>|<a href="/help" style="color: mediumspringgreen;">幫助</a></div></font>
    <div id="NtopSet"><span style="font-size:30px;cursor:pointer" onclick="openMenu()">&nbsp;&#9776;</span></div>
        <font size="0.5"> <a href="/login/discord/" style="color: rgba(51, 248, 255, 0.665)" style="background-color: rgba(0, 60, 139, 0.693);">
        <br><font size="5%"> <div id="Nword"></div> </font>
        </a></font>
    </b>
    <%-body -%>
   </body>
</html>
