<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <title>
         歐內醬
      </title> 
      <script src="/js/chino.js"></script>
   </head>
   <style>
    embed { display: none; }
    button:active + embed { display: block; }
   </style>
   <body>
    <br>
    <audio id="audio0" src="https://cdn.discordapp.com/attachments/747997625973997648/837313040470245386/chino.mp3" preload="auto" autobuffer ></audio>
    <audio id="audio1" src="https://cdn.discordapp.com/attachments/747997625973997648/837313040470245386/chino.mp3" preload="auto" autobuffer ></audio>
    <audio id="audio2" src="https://cdn.discordapp.com/attachments/747997625973997648/837313040470245386/chino.mp3" preload="auto" autobuffer ></audio>
    <audio id="audio3" src="https://cdn.discordapp.com/attachments/747997625973997648/837313040470245386/chino.mp3" preload="auto" autobuffer ></audio>
    <audio id="audio4" src="https://cdn.discordapp.com/attachments/747997625973997648/837313040470245386/chino.mp3" preload="auto" autobuffer ></audio>
    <audio id="audio5" src="https://cdn.discordapp.com/attachments/747997625973997648/837313040470245386/chino.mp3" preload="auto" autobuffer ></audio>
    <audio id="audio6" src="https://cdn.discordapp.com/attachments/747997625973997648/837313040470245386/chino.mp3" preload="auto" autobuffer ></audio>
        <h2 id="count">0</h2>
        <img src="https://i.imgur.com/RLueSuZ.png" alt="///發情///" ><br>
    <input type="button" value="お姉ちゃん" onClick="clicksound()">
        <br>
        <br>
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>
