<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <style type="/css/main.css"></style>
    </head>
    </html>
<form method="post" action="/login"  >  
    Account:<br>
    <input type="text" id="account" name="account"><br>
    Password:<br>
    <input type="password" id="Password"  name="Password">
    <input type="submit" value="Submit">
</form>