<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
   </head>
   <title>服務條款</title>
   <script>
    (async() => {

    })()
    </script>
   <body align="left">
       <h1>智乃小幫手的服務條款</h1>
<h3>一、隱私權保護政策的適用範圍</h3>
智乃小幫手官方網站,機器人本身
<br>
<h3>二、個人資料的蒐集、處理及利用方式</h3>
本機器人會從Disocrd本身獲取部分用戶資料(例如: 用戶名稱,用戶頭像)<br>
或是蒐集網站授權登入著的資料<br>
<br>
您的資料僅會存在MongoDB的數據庫<br>
且授權網站資料會存入在您的cookie中<br>
<br>
你的資料會利用在機器人功能&指令身上<br>
不會做任何竊取資料的行為<br>

<h3>三、資料之保護</h3>
我們的資料都會存在第三方數據庫(MongoDB)<br>
此數據庫非常安全<br>
若你會感到不安<br>
<b>請勿使用本服務與機器人</b><br>

<h3>四、網站對外的相關連結</h3>
本網站的網址域有以下幾個:<br>
dckabicord.com<br>
chinohelper.tk<br>
<br>
<h3>五、與第三方共用個人資料之政策</h3>
本服務會與Disocrd要求用戶資料<br>
並使用於指令目的上
<h5>至於網站登入方面</h5>
本網站可使用google登入到discord<br>
僅會驗證用戶名稱為目的而已<br>
<h3>六、Cookie之使用</h3>
本網站使用Cookie<br>
會存入加密過的Discord授權碼<br>
該授權碼僅會獲取discord用戶資料<br>

<h3>七、版權</h3>
此為 智乃 的同人作品<br>
與 <b>ご注文はうさぎですか？</b>無直接關係

<h3>八、隱私權保護政策之修正</h3>
暫定<br>
此條文更新日期: 8月19日<br>
        <br>
        &emsp; &emsp; |<a href="/privacy">隱私權條款</a>|
      <a href="/main">點我回到首頁</a>|
      <br>
   </body>
</html>