<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/about.css">
      <title>
         智乃是誰
      </title>   
      <script>
         (async() => {
        var myVid=document.getElementById("chinos");
        myVid.volume=0.5;
         })()
      </script>
   </head>
   <body>
      <br>
     Who is Chino?  (Article coming from <a href="https://zh.moegirl.org.cn/香风智乃">萌娘百科</a>)
     <br>
     <h3>Introduction</h3><br>
At the beginning, it was a 13-year-old junior high school student. It is the granddaughter of the original owner of the coffee shop owner, who is bonded to the heart. In addition, combined with the "Zi Ma Zi" friends composed with Junior Mutan Classmates.<br>
The representative color is blue. The name of the Chino is derived from Cabuccino（Cappuccino → カプチーノ → カフウ・チノ → 香風智乃）。<br>
     <br>
     <s>Today, its intelligence is inneathly ——《Said》</s>
     <br>
     <h3>character</h3>
     <br>
Nothing, not good at talking to others. In addition, the people around you only have guests and adults, so for the communication, they have always used their respect for anyone.<br>
Once I claim that if Ma La and Hui did not take the initiative to find her, they won't be friends.<br>
Envy that it is easy to pay with others. <br>
     It will become more active after wearing the head covering the face. <br>
     As the development of the story gradually develops in the open direction, it will also open some jokes, and the characters are "more and more like love" in the drama. <br>
     It is very self-reliant and is accustomed to being a person to do things. It is called a child, and it will feel uncomfortable when primary school students. <br>
     I rarely laugh, I have been distressed because I haven't worried in front of the camera, but I am very cute. <br>
     Usually facing your beloved enthusiasm, the reaction is quite cold, but sometimes it is lonely because of being cold, but it is not realized that this is a vinegar. <br>
     Many times, I don't have a lot of heat, I'm not awkward, I'm so hot (Japanese and beloved name of the same voice), and the votes of being treated in the heart of love. <br>
     Zeng I complained that "I didn't know anything when I was angry, I couldn't pay attention when I became strange when I was angry." <br>
        <br>
        <h3> physical condition </h3>
        Although young, it is very concerned about his height and body, and it will want to increase, lose weight, and promote development. <br>
        I have released the saying: "When I am so long to love this age, I will definitely love it!" <br>
        Profile in Rabbit House Tea Party 2014: "At least (chest) is more than Cairi ..." <br>
        The benefits are almost high, Ma Ye is still in peace, but it is very concerned about the growing chest. <br>
        In the early stages of the story, I don't know why it is an animal that doesn't like to be close. <s> (Beast Control Edition Love) </s> <br>
        It will be avoided far away from the hares in the town, so when you first see the bean filling and Wild Geese, it is happy because it is not excluded. <br>
        Fishing is also can't catch up, you need a favorite <s> aura </s> help. <br>
        In the third quarter of the animation (comic 70 words), the first time I got the wild rabbit. <S> The degree of love is continuously increased. </s> <br>
        The amount of alcohol is very bad, even if the heart chocolate is also drunk (half a catty eight two × 2). Drunk is innocent, it will become very sticky. After waking up, I still keep the memory of drunkenness. <br>
        Sing is very good, but some don't dare to open. <br>
        When you are talking by others, you will have a truth that is speracotomy for excuses. But you will also really belly talk. <br>
        What must I have to play all work skills. Go to Ganbun Tunnean, if there is no contract, it will be held in the bean. <br>
      <s> The rabbit on the head will also affect character. When the wild goose becomes a bad girl, it will become stunned to be bean. </s> <br>
      <h3> Interests </h3>
      The knowledge in coffee is very profound, and I am willing to take the initiative. Graduation travel time visits a variety of cafés. <br>
      Good at cooking, usually a person will cook alone at home. <br>
      The rest of the rest likes to spend leisurely at home, hobbies are puzzles, bottle boats, solving intelligence rings, etc., do not have to go out and can also do the details. However, unless there is no feelings of love, don't get a breath, but enjoy a little fun every day. <br>
      The soul of the soul, the passage of Picasso, whether it is a coffee pull flower or a student, and finally become abstract paintings. <br>
      Good at the western chess, sometimes with the battle. Fascent in the hands of the peers. <br>
      <br>
      <a href="/main">Click me return home</a><br><br>
      <div class="audio" style="transform: translate(0px, 0px);"><audio id="chinos" src="/music/chino" controls volume="60"></audio></div>
   </body>
</html>