<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
   </head>
   <body>
       <h2>
         關於作者
       </h2>
       <h3>
           <img src="https://i.imgur.com/ATlKbAw.jpg" title="苦力怕怕" alt="苦力怕怕" width="60" height="60"> <u>(CreeperJIMM) 苦力怕怕#8558</u>
           <br>The founder of the Chino helper<br>Starting from 2020 summer vacation<br>Finally, successfully make a complete intelligence function and website
           <br>Do you think so much? oao?<br><s>of courseˋUwUˊ</s>
       </h3>
       <h3>
         特別感謝
       </h3>
       <h3>
         <img src="https://i.imgur.com/MwCdZjb.jpg"title="西瓜" alt="西瓜" width="60" height="60"> <u>(xigua) xiao xigua#8597</u>
         <br>Assist to optimize robot code<br>And solve a lot of CreeperJIMM.<br>And assist completion of the website
     </h3>
     <h3>
      <img src="https://i.imgur.com/HWg0SHD.jpg" title="小喵" alt="小喵" width="60" height="60"> <u>(小喵) tommy2131#3750</u>
      <br>Assistance translation English translation<br>Give some ideas
  </h3>
  <h3>
   Extra Thank you
 </h3>
 <h4>
   <img src="https://i.imgur.com/anP0V86.jpg" title="凱恩" alt="凱恩" width="60" height="60"> <u>(凱恩) 凱恩Kane#5384</u>
   <br>JIM initial program teacher. uwu
</h4>
        <br>
      <a href="/main">Click me return home</a>
      <br>
   </body>
</html>
