<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <title>
         An error occurred!
      </title>   
   </head>
   <body>
     You may go to a magical space
     <br>
     But this space has failed :(
        <br>
      <a href="/">Click me return home</a>
      <br>
   </body>
</html>
