<html>
   <head>
    <link rel="stylesheet" href="/css/main.css">
    <style type="/css/main.css"></style>
      <title>
         登出中
      </title>   
   </head>
   <script src="/js/getcookie.js">
   </script>
   <script>
   </script>
   <body>
      <br>
      <h2>登入發生錯誤!</h2>
      如果你是利用第三方帳號登入的<br>
      不幸的<br>
      你授權已經過期<br>
      請重新使用discord登入然後重新連結<br><br>
      或是你是使用discord登入的<br>
      但還是失敗<br>
      請回報給管理者<br>
        <br>
        |<a href="/login/discord/">重新登入</a>|
        <a href="/login/">第三方登入</a>|
        <br>
        <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>
