<html>
   <link rel="stylesheet" href="/css/main.css">
   <style type="/css/main.css"></style>
   <link rel="stylesheet" href="/css/userinfo.css">
   <style type="/css/userinfo.css"></style>
   <head>
      <title>
         智乃小幫手官方網站
      </title>
   </head>
   <script src="/js/getinfo.js"></script>
   <script src="/js/login.js"></script>
       <body>
         <p id="guildmenu">◀</p>
         <div class="servers">
            <ul><p id="myself"></p></ul>
            <ul><p id="guilds"></p></ul>
         </div>
         <p id="hi">資料讀取.... 請等幾秒!</p><br>
         <font size="5">想試試看<u>線上</u>智乃小幫手的指令嗎? <a href="/cmd">點我!</a></font>
         <br>---詳細資料請在discord打ui指令!---

         <div class="datas">     
         <p id="level"></p>
         <p id="money"></p>
         <p id="work"></p>
         <p id="piture"></p>
         <p id="piture2"></p>
         <p id="host"></p><p id="pet"></p>
         <p id="worktime"></p></div> 
        <br>
      </body>
</html>
