<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
   </head>
   <script>
    (async() => {
   setTimeout(() => {
        let text = document.getElementById("text").innerHTML
        document.getElementById("text").innerHTML = text
   }, 100);
    setTimeout(() => {
       window.close(); }, 5900); 
    })()
    </script>
   <body>
       <h1>成功設置!</h1>
       <div style="white-space: pre-line;">
      <text id="text"><%= text %></text>
       </div>
       如果網頁沒有關閉請點這裡
       <input onclick="window.close();" value="關閉視窗" type="button">
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>