<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
   </head>
   <script>
    (async() => {
    setTimeout(() => {
       window.close(); }, 5900); 
    })()
    </script>
   <body>
       <h1>成功設置!</h1>
       <h3><%= text %></h3>
       如果網頁沒有關閉請點這裡
       <input onclick="window.close();" value="關閉視窗" type="button">
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>