<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
   </head>
   <body>
       <h2>
         關於作者
       </h2>
       <h3>
           <img src="https://i.imgur.com/ATlKbAw.jpg" title="苦力怕怕" alt="苦力怕怕" width="60" height="60"> <u>(苦力怕怕) 苦力怕怕#8558</u>
           <br>智乃小幫手的創始人<br>從2020暑假開始動工<br>最終成功做出完善的智乃功能和網站
           <br>你在想我點子有這麼多嗎oao?<br><s>這是當然的ˋUwUˊ</s>
       </h3>
       <h3>
         特別感謝
       </h3>
       <h3>
         <img src="https://i.imgur.com/MwCdZjb.jpg"title="西瓜" alt="西瓜" width="60" height="60"> <u>(西瓜) xiao xigua#8597</u>
         <br>協助優化機器人代碼<br>並解決了苦力怕很多問題<br>且協助完成網站架設
     </h3>
     <h3>
      <img src="https://i.imgur.com/HWg0SHD.jpg" title="小喵" alt="小喵" width="60" height="60"> <u>(小喵) tommy2131#3750</u>
      <br>協助翻譯英文翻譯檔<br>給予點子
  </h3>
  <h3>
   額外感謝
 </h3>
 <h4>
   <img src="https://i.imgur.com/anP0V86.jpg" title="凱恩" alt="凱恩" width="60" height="60"> <u>(凱恩) 凱恩Kane#5384</u>
   <br>苦力怕初期學程式的老師uwu
</h4>
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>
