<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
   </head>
   <body>
       <h2>Discord協助</h2>
       <h3>
         <img src="https://i.imgur.com/Bt3TyzJ.jpg" alt="苦力怕怕群" width="60" height="60">苦力怕怕群 <a href="https://discord.gg/R9TmPnf">[點我進入]</a><br>
         <img src="https://i.imgur.com/9ruvBZ7.jpg" alt="智乃小幫手官方群" width="60" height="60">智乃小幫手官方群 <a href="https://discord.gg/P2yg5V2">[點我進入]</a>
       </h3>
       <h2>聯絡方式</h2>
       <h3>
         Email: <u>jimmcreeper@gmail.com</u><br>
         Discord: <u>苦力怕怕#8558</u><br>
         Twitter: <u>@CreeperJIMM</u><br>
       </h3>
       <h2>捐款</h2>
       <h3>
         <h4><b>(台灣專用)</b></h4>
        <a href="https://p.ecpay.com.tw/C54B45A"><img src="https://payment.ecpay.com.tw/Upload/QRCode/202101/QRCode_8eaa73dd-9bc8-4f45-9417-dbf97f10c813.png" height="70" width="70"><b>[綠界斗內]</b></a>
        <h4><b>(國外專用)</b></h4>
         <a href="https://www.paypal.me/ChinoBot"><img src="https://cdn.discordapp.com/attachments/747997625973997648/832256897335164998/jKlAFzlKgwXaWssWtAlVgTIEG25j0bVwFqsBZCjTYzlK2uFWgCowp0GAbk76Nq0AVOEuBBttZyha3ClSBMQUabGPSt3EVqAJnKdB.png" height="50" width="50"><b>[Paypal]</b></a>
         <br>
         <a href="https://www.patreon.com/ChinoBot_"><img src="https://cdn.discordapp.com/attachments/747997625973997648/832257979968520243/o71UMH1Zkc0AAAAASUVORK5CYII.png" height="50" width="50"><b>[Pstreon]</b></a>
         <br>
         <h4><b>其他管道(不建議使用)</b></h4>
         <a href="https://donatebot.io/checkout/736199351705010206"><b>[Donatebot]</b></a> 
       </h3>
        <br>
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>
