<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <script>
    (async() => {
    let tm = new Date()
    setTimeout(() => {
         document.getElementById('time').innerHTML = tm.getHours() +":"+ tm.getMinutes()  
    }, 200);
    })()   
   </script>
   <style>
    @media only screen and (min-width: 801px) {.cmd{border-style:solid;background-color: rgba(43, 105, 153, 0.781); width: 40%; text-align: center;position: static;top: 50%;left: 50%;margin: 10px 0 0 32%;}}
@media only screen and (max-width: 800px) {.cmd{border-style:solid;background-color: rgba(43, 105, 153, 0.781); width: 90%; text-align: center;position: static;top: 50%;left: 50%;margin: 10px 0 0 5%;}}
   </style>
   </head>
   <body>
       <h3>
           Welcome to use online Chino helper command!
       </h3>
       <h4>
           Please click on the following instructions to try commands!<br>
           (The actual command is dominated by Discord bot!)
       </h4>
       <div class="avatar"><img src="/img/chinocmd.jpg" width="50" height="50"></div><b style="color: #257afa;">Chino helper</b> &nbsp;&nbsp;<b style="color: rgb(159, 213, 255);font-size: 12px;">Today <b id="time"></b></b>
       <h3>
        <div class="cmd">
            <p>common commands</p>
            <a href="cmd?cmd=avatar">cr!avatar Avatar.</a><br>
           <a href="cmd?cmd=daily">cr!daily Receive today money</a>
           <p>image commands (Has AD)</p>
           <a href="http://b00.tw/WoxST">cr!chino Ordered a Chino [25$]</a> | <a href="http://b00.tw/z5NbJ">R18 [35$]</a><br>
           <a href="http://b00.tw/GXkrc">cr!cocoa Ordered a Cocoa [25$]</a> | <a href="http://b00.tw/XfC0k">R18 [35$]</a><br>
           <a href="http://b00.tw/hHpfl">cr!tippy Ordered a Tippy [25$]</a> | <br>
           <a href="http://b00.tw/ahzFp">cr!other Ordered a other [35$]</a> | <br>
           <a href="http://b00.tw/X6kNK">cr!gura Ordered a Gura [25$]</a> | <a href="http://b00.tw/FadcS">R18 [35$]</a><br>
           <a href="http://b00.tw/DaMK7">cr!fubuki Ordered a fox(fubuki) [25$]</a> | <a href="http://b00.tw/OHWWj">R18 [35$]</a><br> 
           <a href="http://b00.tw/7v-lx">cr!peko Ordered a rabbit(Pekora) [25$]</a><br>
           <a href="http://b00.tw/WzcLS">cr!other Ordered a chen. [25$]</a><br>
           <a href="http://b00.tw/dYDwC">cr!shota Ordered a Shota [25$]</a><br>
           <a href="http://b00.tw/fEWtR">cr!loli Ordered a loli [25$]</a><br>
           <a href="http://b00.tw/6faRs">cr!shota Ordered a VTuber [25$]</a><br>
           <a href="http://b00.tw/Yej44">cr!nakkar Ordered a Nakkar [25$]</a><br>
           <br>
    </div>
        </h3>
        <br>
      <a href="/main">Click me return home</a>
      <br>
   </body>
</html>
