<html>
   <head>
    <link rel="stylesheet" href="/css/main.css">
    <style type="/css/main.css"></style>
      <title>
         已登出!
      </title>   
   </head>
   <script src="/js/getcookie.js">
   </script>
   <script>
       clearAllCookie()
   </script>
   <body>
      <br>
      <br>
     Successfully log out!
        <br>
      <a href="/">Click me return home</a>
      <br>
   </body>
</html>
