<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
   </head>
   <script>
    (async() => {
        let url = new URL(document.documentURI),urls= "";
        urls= 'cmd?cmd='+url.searchParams.get('cmd2')+'&img='+url.searchParams.get("img")+'&nsfw=true'
        setTimeout(() => {document.getElementById('yes').innerHTML = '<a href="'+urls+'">Yes</a> | <a href="/main">No</a>'}, 1200);
    })()
   </script>
   <body>
       <h1>
           ⚠ Warning!!⚠
       </h1>
       <h3>
           Are you full of 18
           Otherwise it is forbidden to enter this zone.
           <p id="yes">Please wait a few seconds... | <a href="/main">No</a></p>
       </h3>
        <br>
      <a href="/main">Click me return home</a>
      <br>
   </body>
</html>
