<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
      <script>
    (async() => {
    let tm = new Date()
    setTimeout(() => {
         document.getElementById('time').innerHTML = tm.getHours() +":"+ tm.getMinutes()  
    }, 200);
    })()   
   </script>
   <style>
    @media only screen and (min-width: 801px) {.cmd{border-style:solid;background-color: rgba(43, 105, 153, 0.781); width: 40%; text-align: center;position: static;top: 50%;left: 50%;margin: 10px 0 0 32%;}}
@media only screen and (max-width: 800px) {.cmd{border-style:solid;background-color: rgba(43, 105, 153, 0.781); width: 90%; text-align: center;position: static;top: 50%;left: 50%;margin: 10px 0 0 5%;}}
   </style>
   </head>
   <body>
       <h3>
           歡迎使用線上智乃小幫手指令!
       </h3>
       <h4>
           請點擊以下指令來嘗試指令!<br>
           (實際的指令以Discord指令為主!)
       </h4>
       <div class="avatar"><img src="/img/chinocmd.jpg" width="50" height="50"></div><b style="color: #257afa;">智乃小幫手</b> &nbsp;&nbsp;<b style="color: rgb(159, 213, 255);font-size: 12px;">今天 <b id="time"></b></b>
       <h3>
        <div class="cmd">
            <p>一般指令</p>
            <a href="cmd?cmd=avatar">cr!avatar 大頭貼</a><br>
           <a href="cmd?cmd=daily">cr!daily 領取今日金錢</a>
           <p>觸圖指令 (有廣告)</p>
           <a href="http://b00.tw/WoxST">cr!chino 點一隻智乃 [25$]</a> | <a href="http://b00.tw/z5NbJ">R18 [35$]</a><br>
           <a href="http://b00.tw/GXkrc">cr!cocoa 點一隻心愛 [25$]</a> | <a href="http://b00.tw/XfC0k">R18 [35$]</a><br>
           <a href="http://b00.tw/hHpfl">cr!tippy 點一隻提比 [25$]</a> | <br>
           <a href="http://b00.tw/ahzFp">cr!other 點一盒分享餐 [35$]</a> | <br>
           <a href="http://b00.tw/X6kNK">cr!gura 點一隻古拉Gura [25$]</a> | <a href="http://b00.tw/FadcS">R18 [35$]</a><br>
           <a href="http://b00.tw/DaMK7">cr!fubuki 點一隻狐狸(吹雪) [25$]</a> | <a href="http://b00.tw/OHWWj">R18 [35$]</a><br> 
           <a href="http://b00.tw/7v-lx">cr!peko 點一隻兔子(Pekora) [25$]</a><br>
           <a href="http://b00.tw/WzcLS">cr!other 點一隻(八雲)橙 (小喵) [25$]</a><br>
           <a href="http://b00.tw/dYDwC">cr!shota 點一隻正太 [25$]</a><br>
           <a href="http://b00.tw/fEWtR">cr!loli 點一隻蘿莉 [25$]</a><br>
           <a href="http://b00.tw/6faRs">cr!shota 點一隻Vtuber [25$]</a><br>
           <a href="http://b00.tw/Yej44">cr!nakkar 點一隻Nakkar [25$]</a><br>
           <br>
    </div>
        </h3>
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>
