<html>
   <head>
      <link rel="stylesheet" href="/css/main.css">
      <style type="/css/main.css"></style>
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
   </head>
   <body>
       <h2>[!]發現你的cookie處於高風險狀態!⚠</h2>
       請按下右上角的登出並重新登入
        <br>
        以確保你的資料安全!
        <br>
        或者點擊 <a href="https://dckabicord.com/login/logout">這裡</a> 來登出!
        <br>
      <a href="/main">點我回到首頁</a>
      <br>
   </body>
</html>