<html>
   <head>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <style type="/css/main.css"></style>
      <title>
         已登出!
      </title>   
   </head>
   <script src="/js/getcookie.js">
   </script>
   <script>
       clearAllCookie()
   </script>
   <body>
      <br>
      <br>
     成功登出!
        <br>
      <a href="/">點我回到首頁</a>
      <br>
   </body>
</html>
